n8n-workflows/1-start-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marking-log/start",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c087c053-9430-46c7-9e3d-86b793757c53",
      "name": "Webhook Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        48,
        -160
      ],
      "webhookId": "start-session"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $jmespath($json, 'body.name') }}-{{ $now.toISO().split('T')[0] }}-{{ $now.toMillis() }}-{{ $runIndex }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "name",
              "value": "={{ $jmespath($json, 'body.name') }}",
              "type": "string"
            },
            {
              "id": "docUrl",
              "name": "docUrl",
              "value": "={{ $jmespath($json, 'body.docUrl') }}",
              "type": "string"
            },
            {
              "id": "startTime",
              "name": "startTime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "startTimeMs",
              "name": "startTimeMs",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            },
            {
              "id": "lastHeartbeat",
              "name": "lastHeartbeat",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "lastHeartbeatMs",
              "name": "lastHeartbeatMs",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            },
            {
              "id": "accumulatedActiveMs",
              "name": "accumulatedActiveMs",
              "value": "=0",
              "type": "number"
            },
            {
              "id": "used",
              "name": "used",
              "value": "=FALSE",
              "type": "boolean"
            },
            {
              "id": "ttlAt",
              "name": "ttlAt",
              "value": "={{ $now.plus(4, 'hours').toISO() }}",
              "type": "string"
            },
            {
              "id": "ttlMs",
              "name": "ttlMs",
              "value": "=14400000",
              "type": "number"
            },
            {
              "id": "cb8c3adf-7d8a-4dea-9ef5-944d728efba7",
              "name": "=type",
              "value": "={{ $jmespath($json, 'body.type') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d32b235f-6714-42d7-b74f-cd71f0d6927e",
      "name": "Set Session Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -160
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"sessionId\": $json.sessionId, \"ttlMs\": $json.ttlMs, \"startTime\": $json.startTime } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "86fc48b4-0628-4d83-9f15-7102bbc77f9d",
      "name": "Respond to Start",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        -160
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "grTeMTL8yObKWZOo",
          "mode": "list",
          "cachedResultName": "tracking_log_sesions",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/grTeMTL8yObKWZOo"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "name": "={{ $json.name }}",
            "docUrl": "={{ $json.docUrl }}",
            "startTime": "={{ $json.startTime }}",
            "startTimeMs": "={{ $json.startTimeMs }}",
            "lastHeartbeat": "={{ $json.lastHeartbeat }}",
            "lastHeartbeatMs": "={{ $json.lastHeartbeatMs }}",
            "accumulatedActiveMs": "={{ $json.accumulatedActiveMs }}",
            "ttlAt": "={{ $json.ttlAt }}",
            "used": "={{ $json.used }}",
            "type": "={{ $json.type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "docUrl",
              "displayName": "docUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startTimeMs",
              "displayName": "startTimeMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastHeartbeat",
              "displayName": "lastHeartbeat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastHeartbeatMs",
              "displayName": "lastHeartbeatMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accumulatedActiveMs",
              "displayName": "accumulatedActiveMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ttlAt",
              "displayName": "ttlAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endTime",
              "displayName": "endTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endTimeMs",
              "displayName": "endTimeMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activeSec",
              "displayName": "activeSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activeMinutes",
              "displayName": "activeMinutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "totalElapsedSec",
              "displayName": "totalElapsedSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activityPercentage",
              "displayName": "activityPercentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finalAccumulatedActiveMs",
              "displayName": "finalAccumulatedActiveMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        464,
        -160
      ],
      "id": "aab9b59c-b724-4e8a-a1b8-bc88c27956b9",
      "name": "Insert row1"
    }
  ],
  "connections": {
    "Webhook Start": {
      "main": [
        [
          {
            "node": "Set Session Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Session Data": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Respond to Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a7f6df443063e1201816e09e7012f9b750d9d0e2a55c255ef1db35efa96f79ff"
  }
}