n8n-workflows/12-fetch-doc-content.json
{
  "nodes": [
    {
      "parameters": {
        "path": "/marking-log/fetch-doc-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c498112b-ab4d-4cfa-825d-7799d9774f8a",
      "name": "Webhook",
      "webhookId": "e5a58e6a-3945-43b3-b4a1-7c72a42f3af4"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.query.doc_id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "c0bf11de-8ccf-4173-afbb-c5cf9a127878",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        0
      ],
      "id": "4a53ac00-5a67-4470-a4d7-88887d4b53c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "441bfc0f-74e2-4a92-bfa0-ddec2f701260",
              "name": "original_content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        0
      ],
      "id": "3bf6307b-c35f-49e7-8f24-d009d069fe26",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7f6df443063e1201816e09e7012f9b750d9d0e2a55c255ef1db35efa96f79ff"
  }
}