n8n-workflows/3-end-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marking-log/end",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9ade6c61-4a19-4132-a819-ace425efaf1d",
      "name": "Webhook End",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -48
      ],
      "webhookId": "end-session"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sessionId",
              "name": "sessionId",
              "value": "={{ $jmespath($json, 'body.sessionId') }}",
              "type": "string"
            },
            {
              "id": "ts",
              "name": "ts",
              "value": "={{ $jmespath($json, 'body.ts') || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ $jmespath($json, 'body.reason') || 'closed' }}",
              "type": "string"
            },
            {
              "id": "endTimeMs",
              "name": "endTimeMs",
              "value": "={{ $now.toMillis() }}",
              "type": "number"
            },
            {
              "id": "endTime",
              "name": "endTime",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "7041073e-7cfc-4148-98a5-577fab404b58",
              "name": "fullUrl",
              "value": "={{ $jmespath($json, 'body.fullUrl') }}",
              "type": "string"
            },
            {
              "id": "2fbd857b-75be-494c-ad38-752a76938484",
              "name": "name",
              "value": "={{ $jmespath($json, 'body.name') }}",
              "type": "string"
            },
            {
              "id": "0a513930-d97d-4994-ae49-5a7698b918fe",
              "name": "type",
              "value": "={{ $jmespath($json, 'body.type') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b491985b-5049-40b6-9ceb-da997d74f714",
      "name": "Extract End Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "session-found",
              "leftValue": "={{ $json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "not-used",
              "leftValue": "={{ $json.used }}",
              "rightValue": "=false",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "c6dab577-b74b-405d-ace1-78694b9bbaf3",
      "name": "Check Session Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -48
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "def to_int(value, default=0):\n    try:\n        return int(value)\n    except (TypeError, ValueError):\n        return default\n\ndef calculate_final_activity(item):\n    endTimeMs = to_int(item.get('endTimeMs'))\n    lastHeartbeatMs = to_int(item.get('lastHeartbeatMs'))\n    accumulatedActiveMs = to_int(item.get('accumulatedActiveMs'))\n    startTimeMs = to_int(item.get('startTimeMs'))\n\n    # Calculate final delta (time between last heartbeat and end)\n    finalDeltaMs = endTimeMs - lastHeartbeatMs if endTimeMs and lastHeartbeatMs else 0\n\n    # If final delta is small (< 30 seconds), add it to accumulated time\n    finalAccumulatedActiveMs = accumulatedActiveMs\n    if 0 < finalDeltaMs < 30000:\n        finalAccumulatedActiveMs += finalDeltaMs\n\n    # Convert to seconds\n    activeSec = round(finalAccumulatedActiveMs / 1000)\n\n    # Sanity checks\n    maxDurationSec = 43200  # 12 hours\n    finalActiveSec = min(activeSec, maxDurationSec)\n\n    # Calculate total elapsed time\n    totalElapsedSec = round((endTimeMs - startTimeMs) / 1000) if endTimeMs and startTimeMs else 0\n\n    # Calculate activity percentage\n    activityPercentage = round((finalActiveSec / totalElapsedSec) * 100) if totalElapsedSec > 0 else 0\n\n    # Calculate active minutes (rounded to 1 decimal)\n    activeMinutes = round(finalActiveSec / 60 * 10) / 10\n\n    # Return updated dict\n    return {\n        **item,\n        'finalDeltaMs': finalDeltaMs,\n        'finalAccumulatedActiveMs': finalAccumulatedActiveMs,\n        'activeSec': finalActiveSec,\n        'totalElapsedSec': totalElapsedSec,\n        'activityPercentage': activityPercentage,\n        'activeMinutes': activeMinutes\n    }\n\n# Apply for all items\noutput = []\nfor item in _input.all():\n    output.append(calculate_final_activity(item.json))\n\nreturn output\n"
      },
      "id": "94616a64-fd84-4af2-8bdf-30944a1db617",
      "name": "Calculate Final Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -160
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1sGSFYOdX13Ja7VdJyd45cGNYVvBL24NgDEPNoLc6n5M",
          "mode": "list",
          "cachedResultName": "Tracking Sessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sGSFYOdX13Ja7VdJyd45cGNYVvBL24NgDEPNoLc6n5M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1431572029,
          "mode": "list",
          "cachedResultName": "Completed",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sGSFYOdX13Ja7VdJyd45cGNYVvBL24NgDEPNoLc6n5M/edit#gid=1431572029"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "name": "={{ $json.name }}",
            "docUrl": "={{ $json.docUrl }}",
            "startTime": "={{ $json.startTime }}",
            "endTime": "={{ $json.endTime }}",
            "activeSec": "={{ $json.activeSec }}",
            "activeMinutes": "={{ $json.activeMinutes }}",
            "totalElapsedSec": "={{ $json.totalElapsedSec }}",
            "activityPercentage": "={{ $json.activityPercentage }}",
            "reason": "={{ $json.reason }}",
            "endDate": "={{ new Date($json.endTime).toISOString().slice(0, 10) }}",
            "type": "={{ $json.type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "docUrl",
              "displayName": "docUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endTime",
              "displayName": "endTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "activeSec",
              "displayName": "activeSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activeMinutes",
              "displayName": "activeMinutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalElapsedSec",
              "displayName": "totalElapsedSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "activityPercentage",
              "displayName": "activityPercentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "44bf3ea0-effe-4ad0-a02a-fedf2d241527",
      "name": "Append to Completed Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        192,
        -160
      ],
      "credentials": {
        "googleApi": {
          "id": "krOtZJvb7bpYplAz",
          "name": "n8n-3-814@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n    \"status\": \"ok\",\n    \"sessionId\": $json.sessionId,\n    \"activeSec\": $json.activeSec,\n    \"activeMinutes\": $json.activeMinutes,\n    \"activityPercentage\": $json.activityPercentage,\n    \"nextLink\": $json.Link\n} }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "f15f0a67-c0e1-4b76-aefd-5a99fd1d85e0",
      "name": "Respond End OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1424,
        416
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Session not found or already used\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "99b3e08b-31dd-4c64-bc24-cc4272b1cd14",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        48
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -736,
        -32
      ],
      "id": "cb35dd3e-a22f-40f0-a14d-d97e9be46d28",
      "name": "Merge"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "endTime, endTimeMs, reason",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        112
      ],
      "id": "52917e40-5900-4572-9642-dd5146dd9d12",
      "name": "except fields"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "grTeMTL8yObKWZOo",
          "mode": "list",
          "cachedResultName": "tracking_log_sesions",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/grTeMTL8yObKWZOo"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1168,
        112
      ],
      "id": "875be8b9-0773-427e-9229-46a474c8efbf",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "grTeMTL8yObKWZOo",
          "mode": "list",
          "cachedResultName": "tracking_log_sesions",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/grTeMTL8yObKWZOo"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "sessionId",
              "keyValue": "={{ $json.sessionId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "docUrl": "={{ $json.docUrl }}",
            "accumulatedActiveMs": "={{ $json.accumulatedActiveMs }}",
            "used": "TRUE",
            "type": "={{ $json.type }}",
            "endTime": "={{ $json.endTime }}",
            "endTimeMs": "={{ $json.endTimeMs }}",
            "activeSec": "={{ $json.activeSec }}",
            "activeMinutes": "={{ $json.activeMinutes }}",
            "totalElapsedSec": "={{ $json.totalElapsedSec }}",
            "reason": "={{ $json.reason }}",
            "activityPercentage": "={{ $json.activityPercentage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "docUrl",
              "displayName": "docUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "startTimeMs",
              "displayName": "startTimeMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastHeartbeat",
              "displayName": "lastHeartbeat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastHeartbeatMs",
              "displayName": "lastHeartbeatMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "accumulatedActiveMs",
              "displayName": "accumulatedActiveMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "used",
              "displayName": "used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ttlAt",
              "displayName": "ttlAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "endTime",
              "displayName": "endTime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "endTimeMs",
              "displayName": "endTimeMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activeSec",
              "displayName": "activeSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activeMinutes",
              "displayName": "activeMinutes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "totalElapsedSec",
              "displayName": "totalElapsedSec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activityPercentage",
              "displayName": "activityPercentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finalAccumulatedActiveMs",
              "displayName": "finalAccumulatedActiveMs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -48,
        -160
      ],
      "id": "25e2b5c5-7a49-4aba-8168-1b5bff045cf3",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $('Extract End Data').item.json.fullUrl }}",
            "Type ": "Đã chữa"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Dấu thời gian",
              "displayName": "Dấu thời gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Các bạn chọn lớp không đúng theo danh sách đăng ký sẽ không được chữa.\nThời gian trả bài chữa ( 7 - 9 ngày sau dl nộp)",
              "displayName": "Các bạn chọn lớp không đúng theo danh sách đăng ký sẽ không được chữa.\nThời gian trả bài chữa ( 7 - 9 ngày sau dl nộp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Số điện thoại ",
              "displayName": "Số điện thoại ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error ",
              "displayName": "Error ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lời nhắn ",
              "displayName": "Lời nhắn ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lời nhắn\nVí dụ: Nộp muộn đã có xin phép, học lịch cọc cạch,...\nLưu ý: Tất cả những câu hỏi liên quan đến việc nộp bài, chữa bài, nội dung học,...hãy nhắn tin qua page để được trả lời",
              "displayName": "Lời nhắn\nVí dụ: Nộp muộn đã có xin phép, học lịch cọc cạch,...\nLưu ý: Tất cả những câu hỏi liên quan đến việc nộp bài, chữa bài, nội dung học,...hãy nhắn tin qua page để được trả lời",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sheet URL",
              "displayName": "Sheet URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ecb71bb7-9616-4530-a6b6-4089fdea5181",
      "name": "Update Status to Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -48,
        48
      ],
      "credentials": {
        "googleApi": {
          "id": "krOtZJvb7bpYplAz",
          "name": "n8n-3-814@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Type "
            },
            {
              "lookupColumn": "Tên",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -816,
        416
      ],
      "id": "3b966d0d-d983-441d-ba8e-8b06b79d315a",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "M0c8RWyLvkcDkvoq",
          "name": "n8n-2-970@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        416
      ],
      "id": "c508bdae-5b8c-4b1a-b380-a588c577a32b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ $('Extract End Data').item.json.fullUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        160,
        48
      ],
      "id": "538db4e1-6143-4a61-a306-ce935f07a6b5",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleApi": {
          "id": "M0c8RWyLvkcDkvoq",
          "name": "n8n-2-970@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dungenglishspeaking.com/webhook/send-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_error",
              "value": "false"
            },
            {
              "name": "type",
              "value": "={{ $('Extract End Data').item.json.type }}"
            },
            {
              "name": "fullUrl",
              "value": "={{ $('Extract End Data').item.json.fullUrl }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"Địa chỉ email\"] }}"
            },
            {
              "name": "fullName",
              "value": "={{ $json[\"Họ và tên\"] }}"
            },
            {
              "name": "topic",
              "value": "={{ $json[\"Chủ đề\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        48
      ],
      "id": "739e6fc5-04d0-4e42-86e6-13d7afabcef3",
      "name": "send email async"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        -32
      ],
      "id": "28088bcb-335f-4040-8987-8bf29b1f8957",
      "name": "Merge2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "258d8287-02b6-4705-b449-2d380221fadf",
              "leftValue": "={{ $json.type }}",
              "rightValue": "writing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        432
      ],
      "id": "95d21a46-9da1-46d6-a02c-da533016eb3e",
      "name": "is writing"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Type "
            },
            {
              "lookupColumn": "Tên",
              "lookupValue": "={{ $json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -816,
        704
      ],
      "id": "7dd546be-e01d-468d-853b-346558e6cdd3",
      "name": "for speaking",
      "credentials": {
        "googleApi": {
          "id": "lZEwATI4LCE6jNXJ",
          "name": "n8n-1-557@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    }
  ],
  "connections": {
    "Webhook End": {
      "main": [
        [
          {
            "node": "Extract End Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract End Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "is writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Valid": {
      "main": [
        [
          {
            "node": "Calculate Final Duration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Final Duration": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Completed Sheet": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check Session Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "except fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "except fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Append to Completed Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Completed": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Respond End OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "send email async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send email async": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is writing": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "for speaking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "for speaking": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7f6df443063e1201816e09e7012f9b750d9d0e2a55c255ef1db35efa96f79ff"
  }
}