n8n-workflows/5-speaking-submit-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "speaking/submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5392fc1c-cf54-49c6-bde8-d592d024353f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1376,
        368
      ],
      "webhookId": "6d701d93-3572-4b09-9616-491f446d23c5"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Qbt8EabRXZQtyliM",
          "mode": "list",
          "cachedResultName": "speaking",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/Qbt8EabRXZQtyliM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.query.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -768,
        128
      ],
      "id": "024bef7e-4c00-446d-9369-b92c140eb2ba",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Qbt8EabRXZQtyliM",
          "mode": "list",
          "cachedResultName": "speaking",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/Qbt8EabRXZQtyliM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Webhook').item.json.query.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "folder_id",
              "displayName": "folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "id": "f658b631-b5a6-4928-99ce-840753babff0",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af1c7f65-f937-453a-bae2-c07f33943256",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        128
      ],
      "id": "b6a6482f-e3d5-4bb3-8979-f6a4c1ffe26d",
      "name": "exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hwqxigmopqkiqmogkaxt.storage.supabase.co/storage/v1/object/upload/sign/dungenglishspeaking/{{ $('Webhook').item.json.query.sessionId }}_speaking_{{ $('Webhook').item.json.query.email }}/{{ $('Webhook').item.json.query.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -64
      ],
      "id": "befc09b2-d3a7-405e-913b-e6bf5613976f",
      "name": "generate presign url",
      "credentials": {
        "supabaseApi": {
          "id": "3ZgejMfpecUI7BKr",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hwqxigmopqkiqmogkaxt.storage.supabase.co/storage/v1/object/upload/sign/dungenglishspeaking/{{ $('Webhook').item.json.query.sessionId }}_speaking_{{ $('Webhook').item.json.query.email }}/{{ $('Webhook').item.json.query.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        272
      ],
      "id": "db85adae-e6d4-4b4a-a8cb-c21d2e475f31",
      "name": "generate presigned url ",
      "credentials": {
        "supabaseApi": {
          "id": "3ZgejMfpecUI7BKr",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1520,
        128
      ],
      "id": "ad396776-7b80-4f6b-a975-ee5c082d0ffc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "rxU4KZnaGnG5lLJ8",
          "mode": "list",
          "cachedResultName": "speaking_files",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/rxU4KZnaGnG5lLJ8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "object_url": "={{ $json.url.split(\"?\")[0] }}",
            "session_id": "={{ $('Webhook').item.json.query.sessionId }}",
            "full_object_url": "={{ $json.url }}",
            "object_key": "={{ $('Webhook').item.json.query.sessionId }}_speaking_{{ $('Webhook').item.json.query.email }}/{{ $('Webhook').item.json.query.fileName }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "object_url",
              "displayName": "object_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "full_object_url",
              "displayName": "full_object_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "object_key",
              "displayName": "object_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        976,
        128
      ],
      "id": "a85b0fa0-02fd-4108-bb97-ce91012059a3",
      "name": "add object url"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        96
      ],
      "id": "1ba33562-b9e2-44e7-982b-cb3777c1d366",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "2a5c0fa6-0f24-4311-af9f-8eb6ca47575e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3de6d5-e344-4474-8861-f37d78c13b70",
              "name": "url",
              "value": "={{ $json.full_object_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        128
      ],
      "id": "43cec4c3-36dc-447a-97ac-f1fb16bdf971",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "driveId": "sharedWithMe",
        "folderId": "={{ $json.id }}",
        "title": "=Bài Thi Của {{ $('Webhook').item.json.body.email }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        112,
        480
      ],
      "id": "152b0c24-799e-4f8a-a1da-d5bed012c37e",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Webhook').item.json.body.sessionId }}_speaking_{{ $('Webhook').item.json.body.email }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        480
      ],
      "id": "e40b08ff-5fc9-43f8-aa89-c8bce5ee1653",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPcHPoSX4FtN5pf4",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dungenglishspeaking.com/webhook/speaking-sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "name": "doc_id",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "=email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "name": "fullName",
              "value": "={{ $('Webhook').item.json.body.fullName }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "topic",
              "value": "={{ $('Webhook').item.json.body.topic }}"
            },
            {
              "name": "folder_id",
              "value": "={{ $('Edit Fields1').item.json.folder_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        480
      ],
      "id": "16683eed-bd3f-4051-a639-40efe2a62809",
      "name": "sync from supabase to drive"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"doc_link\": \"https://docs.google.com/document/d/{{ $('Create a document1').item.json.id }}/edit?tab=t.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        480
      ],
      "id": "9bc0b46c-567c-4c02-bc8a-5c4eb9c53203",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Bài thi đang được hệ thống cập nhật tự động vui lòng quay lại sau 5 phút nhé..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        400,
        480
      ],
      "id": "a142fac6-46eb-4c7f-a4c6-a855a0d2eda2",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.from }}",
                    "rightValue": "lop-4658",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e6dfcd2f-02bb-400d-8e43-18dcdb26b4dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lop-4658"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2fae879a-f96a-4fc3-a6d6-8fbf120b4bc6",
                    "leftValue": "= {{ $json.body.from }}  ",
                    "rightValue": "lop-243578",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lop-243578"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb5e7baa-76e7-4e3d-8528-3a5f7733d832",
                    "leftValue": "= {{ $json.body.from }}  ",
                    "rightValue": "lop-275878",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "lop-275878"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -768,
        656
      ],
      "id": "04f958e3-47f3-4195-9fb1-e9c2375230ea",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3d2437-243e-4e0d-b068-e8a45ebc0f9e",
              "name": "folder_id",
              "value": "1YVPv3dlkl-0fARNH3yS4BEbIjTNjdLtm",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        480
      ],
      "id": "0524e98d-38d5-4fe6-afdc-6574e46e9239",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "driveId": "sharedWithMe",
        "folderId": "={{ $json.id }}",
        "title": "=Bài Thi Của {{ $('Webhook').item.json.body.email }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        112,
        688
      ],
      "id": "d520f8ce-8ab6-415a-8e03-90906627ec8b",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Webhook').item.json.body.sessionId }}_speaking_{{ $('Webhook').item.json.body.email }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        688
      ],
      "id": "7d6fd8b0-1f10-49d9-af5d-7274bdcba1b5",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPcHPoSX4FtN5pf4",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dungenglishspeaking.com/webhook/speaking-sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "name": "doc_id",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "=email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "name": "fullName",
              "value": "={{ $('Webhook').item.json.body.fullName }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "topic",
              "value": "={{ $('Webhook').item.json.body.topic }}"
            },
            {
              "name": "folder_id",
              "value": "={{ $('Edit Fields2').item.json.folder_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        688
      ],
      "id": "cc53a4ec-9c24-4dfc-9d98-eec5a5121495",
      "name": "sync from supabase to drive1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"doc_link\": \"https://docs.google.com/document/d/{{ $('Create a document').item.json.id }}/edit?tab=t.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        688
      ],
      "id": "a0a9670d-ba53-4550-a903-85803791dc15",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Bài thi đang được hệ thống cập nhật tự động vui lòng quay lại sau 5 phút nhé..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        400,
        688
      ],
      "id": "bf0b671b-ca47-4735-9605-4abc13c96b82",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3d2437-243e-4e0d-b068-e8a45ebc0f9e",
              "name": "folder_id",
              "value": "149uM1mZnSTmawZCgpNasAWde_C1H6l5M",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        688
      ],
      "id": "d8e5a8e9-bf31-4070-a4e3-d278ed6dc5a7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "driveId": "sharedWithMe",
        "folderId": "={{ $json.id }}",
        "title": "=Bài Thi Của {{ $('Webhook').item.json.body.email }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        112,
        912
      ],
      "id": "652b4edb-5ddf-4ac3-ba46-7cb9acd7e8cb",
      "name": "Create a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Webhook').item.json.body.sessionId }}_speaking_{{ $('Webhook').item.json.body.email }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        912
      ],
      "id": "725cf45a-5c17-4a8e-91c1-5dd17a85ef0c",
      "name": "Create folder2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPcHPoSX4FtN5pf4",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dungenglishspeaking.com/webhook/speaking-sync",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.sessionId }}"
            },
            {
              "name": "doc_id",
              "value": "={{ $json.documentId }}"
            },
            {
              "name": "=email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "name": "fullName",
              "value": "={{ $('Webhook').item.json.body.fullName }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "name": "topic",
              "value": "={{ $('Webhook').item.json.body.topic }}"
            },
            {
              "name": "folder_id",
              "value": "={{ $('Edit Fields3').item.json.folder_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        912
      ],
      "id": "32798901-5e73-4a8a-87d1-77e6c5c2a792",
      "name": "sync from supabase to drive2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"doc_link\": \"https://docs.google.com/document/d/{{ $('Create a document2').item.json.id }}/edit?tab=t.0\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        912
      ],
      "id": "50c9123d-3eb0-461e-ad61-9e0232c3a007",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=Bài thi đang được hệ thống cập nhật tự động vui lòng quay lại sau 5 phút nhé..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        400,
        912
      ],
      "id": "97ef9ff3-c4c6-440e-a7d7-cd1743684da2",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb3d2437-243e-4e0d-b068-e8a45ebc0f9e",
              "name": "folder_id",
              "value": "14lIMJs1uXOEf7V-QTYQ9mWfrSD_KpXqA",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        912
      ],
      "id": "cf5502ef-6eaf-449b-9276-128d125dac9d",
      "name": "Edit Fields3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "generate presigned url ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exists": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate presign url": {
      "main": [
        [
          {
            "node": "add object url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate presigned url ": {
      "main": [
        [
          {
            "node": "add object url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add object url": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "generate presign url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sync from supabase to drive": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "sync from supabase to drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sync from supabase to drive1": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "sync from supabase to drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document2": {
      "main": [
        [
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder2": {
      "main": [
        [
          {
            "node": "Create a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sync from supabase to drive2": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document2": {
      "main": [
        [
          {
            "node": "sync from supabase to drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Create folder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7f6df443063e1201816e09e7012f9b750d9d0e2a55c255ef1db35efa96f79ff"
  }
}