n8n-workflows/6-speaking-sync.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "speaking-sync",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        0
      ],
      "id": "c1b273bf-6a75-4fc7-84d0-7bfe3fe99e6a",
      "name": "Webhook",
      "webhookId": "42ee10d5-61ef-4705-a315-1aad10ff43f7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zvRbdcACYU6Wo5lp",
          "mode": "list",
          "cachedResultName": "speaking_files",
          "cachedResultUrl": "/projects/APIuaChzR7jtvCPU/datatables/zvRbdcACYU6Wo5lp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.body.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        32
      ],
      "id": "f29b4354-f2a4-4b3b-9fdd-ddab267d9b4d",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        0
      ],
      "id": "21ff55f2-b7b8-496a-9cfc-6c4b7d394717",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('cache').item.json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        16
      ],
      "id": "114851e3-bb2e-476c-83c8-81c833f55bfe",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ahBiJJu49RUpHt6q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "result = {}\ncontent = \"\"\ni = 1\nfor item in _input.all():\n  file_id = item.json.id\n  # link = f\"https://docs.google.com/document/d/{file_id}/edit?tab=t.0\"\n  link = item.json.webViewLink\n  content += f\"\\nBài {i}: \\n{link}\\n\"\n  i += 1\n\nresult.update({\n  \"body_str\": content,\n})\n\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        -16
      ],
      "id": "0f01b7bf-a4c0-4b67-8606-d54aa0c3debc",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "url": "=https://hwqxigmopqkiqmogkaxt.storage.supabase.co/storage/v1/object/authenticated/dungenglishspeaking/{{ $json.object_key.urlEncode() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "download",
              "value": "Praise + Being busy + Thank you + Spare time (1).m4a"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        16
      ],
      "id": "87c6d71a-a40c-4685-b44d-1e6f46beb10f",
      "name": "download file from supabase",
      "credentials": {
        "supabaseApi": {
          "id": "DkjdJe6T8I6bgxM6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.body.sessionId }}_speaking_{{ $json.body.email }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1t-nbwc2CsUlOVLQtooCliJaW-xdkv5YS",
          "mode": "list",
          "cachedResultName": "Share",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1t-nbwc2CsUlOVLQtooCliJaW-xdkv5YS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        -256
      ],
      "id": "a1918327-b77b-45f9-9555-ae668aa879a1",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ahBiJJu49RUpHt6q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf0c73e-e433-4c75-ad57-f2de826ed428",
              "name": "folder_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -256
      ],
      "id": "276c6c79-9e37-4400-9f1d-6d92478d29ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        16
      ],
      "id": "0e00dd67-21fe-48ab-a130-1eaa5b2d1ec4",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        16
      ],
      "id": "6462cfa4-9c14-4383-9c44-a77a294897e5",
      "name": "cache"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "958989a5-6b64-4bed-8174-510337e03e1f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "057bddf0-1e31-449d-a490-b07f5b583c5d",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        16
      ],
      "id": "e21a9f5c-1efa-47f2-9852-f11b98c80aa3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2608,
        304
      ],
      "id": "69c5bbf0-da11-4140-b0c9-68bcffac2231",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        336
      ],
      "id": "b0546486-327f-43dc-af46-c010519226e1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.body.doc_id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.body_str }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3008,
        304
      ],
      "id": "f7f831f6-0d41-4172-b2ab-ea30056089c1",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "y2V8bJpWD9jCQ502",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chủ đề": "={{ $json.body.topic }}",
            "Họ và tên": "={{ $json.body.fullName }}",
            "Số điện thoại": "={{ $json.body.phone }}",
            "Link": "=marking-log.quocbangdev.asia/?name=bangthong&speaking=https://docs.google.com/document/d/{{ $json.documentId }}",
            "Địa chỉ email": "={{ $json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Chủ đề",
              "displayName": "Chủ đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3680,
        96
      ],
      "id": "58ce85ec-3f74-4a4b-91a5-4ee0ebe8c0e0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3360,
        96
      ],
      "id": "bfc7dba2-8616-451d-a9eb-28f89523c70f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://hwqxigmopqkiqmogkaxt.storage.supabase.co/storage/v1/object/dungenglishspeaking/{{ $json.object_key.urlEncode() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        688
      ],
      "id": "0e947ed4-583e-4297-8278-bda280a41c30",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "DkjdJe6T8I6bgxM6",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zvRbdcACYU6Wo5lp",
          "mode": "list",
          "cachedResultName": "speaking_files",
          "cachedResultUrl": "/projects/APIuaChzR7jtvCPU/datatables/zvRbdcACYU6Wo5lp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.body.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        384,
        672
      ],
      "id": "fde05378-7799-4ee1-976b-5af211e710e8",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        672
      ],
      "id": "3041b4e8-383a-4499-a933-1bcfa7f1951a",
      "name": "Loop Over Items1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download file from supabase": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cache": {
      "main": [
        [
          {
            "node": "download file from supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b9abc2a99c69957c091b96c25d48690c3bbd89cffa33ca8d5bfc1f6b14755b1"
  }
}