n8n-workflows/6-speaking-sync.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "speaking-sync",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1024,
        240
      ],
      "id": "cfb587be-3009-4bb5-b380-ef3a83ae8720",
      "name": "Webhook",
      "webhookId": "42ee10d5-61ef-4705-a315-1aad10ff43f7"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "rxU4KZnaGnG5lLJ8",
          "mode": "list",
          "cachedResultName": "speaking_files",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/rxU4KZnaGnG5lLJ8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.body.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -480,
        256
      ],
      "id": "360b5660-f3bf-48c6-8b03-634ab8bce33b",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        16,
        240
      ],
      "id": "2ad90ee1-b350-4d38-9944-0897a5fd3241",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "name": "={{ $binary.data.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('cache').item.json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        256
      ],
      "id": "e38df72f-aedb-4285-a8de-73db27e94472",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPcHPoSX4FtN5pf4",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "result = {}\ncontent = \"\"\ni = 1\nfor item in _input.all():\n  file_id = item.json.id\n  # link = f\"https://docs.google.com/document/d/{file_id}/edit?tab=t.0\"\n  link = item.json.webViewLink\n  content += f\"\\nBài {i}: \\n{link}\\n\"\n  i += 1\n\nresult.update({\n  \"body_str\": content,\n})\n\nreturn result\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        224
      ],
      "id": "fd805cd2-b906-4864-84af-78d060767a8b",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "url": "=https://hwqxigmopqkiqmogkaxt.storage.supabase.co/storage/v1/object/authenticated/dungenglishspeaking/{{ $json.object_key.urlEncode() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "download",
              "value": "Praise + Being busy + Thank you + Spare time (1).m4a"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        256
      ],
      "id": "14613890-c91f-4d29-8287-57551b25e209",
      "name": "download file from supabase",
      "credentials": {
        "supabaseApi": {
          "id": "3ZgejMfpecUI7BKr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.body.sessionId }}_speaking_{{ $json.body.email }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1t-nbwc2CsUlOVLQtooCliJaW-xdkv5YS",
          "mode": "list",
          "cachedResultName": "Share",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1t-nbwc2CsUlOVLQtooCliJaW-xdkv5YS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -512,
        -160
      ],
      "id": "6e37f79d-bfb7-4c8a-82f5-984159a4f552",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PPcHPoSX4FtN5pf4",
          "name": "Sfast"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bf0c73e-e433-4c75-ad57-f2de826ed428",
              "name": "folder_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -144
      ],
      "id": "38370b17-874f-42c4-9e60-afd2e82be6e1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -144
      ],
      "id": "af24e79e-2954-4851-b504-c501db78ea23",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        256
      ],
      "id": "1ecb8607-e33c-4dae-8a51-861c2b27cb19",
      "name": "cache"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "958989a5-6b64-4bed-8174-510337e03e1f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "057bddf0-1e31-449d-a490-b07f5b583c5d",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        256
      ],
      "id": "2aaa1cfe-3224-4bc5-85a4-cc78af7208cf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1728,
        544
      ],
      "id": "79e8327d-d421-40c2-9183-9c8263537464",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -496,
        576
      ],
      "id": "92d0f074-d316-490f-83cb-af0cedb82ac3",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.body.doc_id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.body_str }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2128,
        736
      ],
      "id": "2a34ad47-c6a2-4d73-8918-767f1461fd3f",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chủ đề": "={{ $json.body.topic }}",
            "Họ và tên": "={{ $json.body.fullName }}",
            "Số điện thoại": "={{ $json.body.phone }}",
            "Link": "=https://marking-log.quocbangdev.asia/?name=bangthong&speaking=https://docs.google.com/document/d/{{ $json.documentId }}",
            "Địa chỉ email": "={{ $json.body.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Chủ đề",
              "displayName": "Chủ đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2800,
        336
      ],
      "id": "0b6d3af8-1b7a-4082-960f-3fb70a57e6b5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yB309TgEv57zLz6R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        336
      ],
      "id": "988f77b3-801e-482d-8669-0d291bd847f7",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://hwqxigmopqkiqmogkaxt.storage.supabase.co/storage/v1/object/dungenglishspeaking/{{ $json.object_key.urlEncode() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        928
      ],
      "id": "e82f8294-413c-4adc-aca3-1bcb5e1179eb",
      "name": "HTTP Request",
      "credentials": {
        "supabaseApi": {
          "id": "3ZgejMfpecUI7BKr",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "rxU4KZnaGnG5lLJ8",
          "mode": "list",
          "cachedResultName": "speaking_files",
          "cachedResultUrl": "/projects/LNLBzzDc8DO3STen/datatables/rxU4KZnaGnG5lLJ8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $json.body.sessionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -496,
        912
      ],
      "id": "86c61b5a-553c-4d00-9ad3-2b11a7d335ae",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -128,
        912
      ],
      "id": "db5e984e-bc97-44ad-b320-f5238669b3fa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        240
      ],
      "id": "224be941-d6cb-47b9-ae37-e31d84834d20",
      "name": "Merge3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "323d50f8-f1f6-46b2-8e9a-b58c72bbe50b",
              "name": "folder_id",
              "value": "={{ $json.body.folder_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        64
      ],
      "id": "75a38400-06eb-486c-99c7-122ff7f33cb4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.body.doc_id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "Bài thi đang được hệ thống cập nhật tự động vui lòng quay lại sau 5 phút nhé..."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2128,
        288
      ],
      "id": "76f97dd7-1250-404a-bef6-ecb25d6e30a7",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XRgvxrHgxMY1eQa",
          "name": "Sfast"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download file from supabase": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "cache": {
      "main": [
        [
          {
            "node": "download file from supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update a document1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7f6df443063e1201816e09e7012f9b750d9d0e2a55c255ef1db35efa96f79ff"
  }
}