n8n-workflows/8-error-handle.json
{
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "/marking-log/errors",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        48
      ],
      "id": "a765bcad-2ba8-4aae-90da-4b7ca358a266",
      "name": "Webhook",
      "webhookId": "6b884999-3000-41b3-ba08-228009cd3d76"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1008,
        -48
      ],
      "id": "51504f3e-2c77-41aa-8dc1-00ed457c2af8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"reasons\": [\n        {\n            \"value\": \"doc_forbiden\",\n            \"label\": \"Chưa mở quyền nhận xét\"\n        },\n        {\n            \"value\": \"wrong_exam\",\n            \"label\": \"Nộp nhầm đề\"\n        },\n        {\n            \"value\": \"wrong_link\",\n            \"label\": \"Nộp sai link\"\n        },\n        {\n            \"value\": \"no_content\",\n            \"label\": \"Không có bài viết\"\n        },\n        {\n            \"value\": \"exam_in_onwner_trash\",\n            \"label\": \"Tệp nằm trong thùng rác chủ sở hữu\"\n        },\n        {\n            \"value\": \"access_forbiden\",\n            \"label\": \"Chưa mở quyền nhận truy cập\"\n        },\n        {\n            \"value\": \"doc_locked\",\n            \"label\": \"Doc bị khóa\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -48
      ],
      "id": "da801045-9002-4cc7-be25-e3bdfd2aa53f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.body.fullUrl }}",
            "Trạng Thái": "Lỗi",
            "Error": "={{ $json.body.errorTypeLabel }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Chủ đề",
              "displayName": "Chủ đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        96
      ],
      "id": "de8cad53-e547-4b7a-ab8a-28629e960c1e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ $('Webhook').item.json.body.fullUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        96
      ],
      "id": "4331698c-eef1-4b28-8764-3baf509f3b71",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/send-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_error",
              "value": "false"
            },
            {
              "name": "type",
              "value": "={{ $('Webhook').item.json.body.type }}"
            },
            {
              "name": "fullUrl",
              "value": "={{ $('Webhook').item.json.body.fullUrl }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"Địa chỉ email\"] }}"
            },
            {
              "name": "fullName",
              "value": "={{ $json[\"Họ và tên\"] }}"
            },
            {
              "name": "topic",
              "value": "={{ $json[\"Chủ đề\"] }}"
            },
            {
              "name": "error_message",
              "value": "={{ $('Webhook').item.json.body.errorTypeLabel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        96
      ],
      "id": "909cf098-dd96-42dd-bf4a-df83ac320a78",
      "name": "send email async"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng Thái"
            },
            {
              "lookupColumn": "Tên",
              "lookupValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        96
      ],
      "id": "78d8e69b-be56-46e3-b342-324630ac5040",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d82fde77-5920-4fb4-b9aa-4e9fb1030656",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "writing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        208
      ],
      "id": "7c707288-7b79-4c39-b418-1b952f3365f2",
      "name": "writing"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"nextLink\": \"{{ $json.Link }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2272,
        224
      ],
      "id": "a067ab45-58f3-472f-adc1-246cf9795f08",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1872,
        96
      ],
      "id": "2ec9e53e-8318-4c6c-b548-39e9d1f01cd6",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1872,
        336
      ],
      "id": "46302242-20ab-4db3-b750-a2d3cde926d8",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.body.fullUrl }}",
            "Trạng Thái": "Lỗi",
            "Error": "={{ $json.body.errorTypeLabel }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Chủ đề",
              "displayName": "Chủ đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        336
      ],
      "id": "a58d0293-67e4-46fd-8984-b73ec5f97845",
      "name": "update writing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ $('Webhook').item.json.body.fullUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        336
      ],
      "id": "abbf58c4-bf2e-46eb-a576-eb5f8383b4d7",
      "name": "get writing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/send-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_error",
              "value": "false"
            },
            {
              "name": "type",
              "value": "={{ $('Webhook').item.json.body.type }}"
            },
            {
              "name": "fullUrl",
              "value": "={{ $('Webhook').item.json.body.fullUrl }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"Địa chỉ email\"] }}"
            },
            {
              "name": "fullName",
              "value": "={{ $json[\"Họ và tên\"] }}"
            },
            {
              "name": "topic",
              "value": "={{ $json[\"Chủ đề\"] }}"
            },
            {
              "name": "error_message",
              "value": "={{ $('Webhook').item.json.body.errorTypeLabel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        336
      ],
      "id": "b8035689-d85a-4401-a311-5f8574ee4eba",
      "name": "send writing async"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng Thái"
            },
            {
              "lookupColumn": "Tên",
              "lookupValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        336
      ],
      "id": "dc4d5519-17e6-436f-8692-beecf27e3f12",
      "name": "get list remaining writing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "umrAZGShoRxgB742",
          "name": "bangquoc9-sheet"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "send email async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send email async": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update writing": {
      "main": [
        [
          {
            "node": "get writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get writing": {
      "main": [
        [
          {
            "node": "send writing async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send writing async": {
      "main": [
        [
          {
            "node": "get list remaining writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get list remaining writing": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b9abc2a99c69957c091b96c25d48690c3bbd89cffa33ca8d5bfc1f6b14755b1"
  }
}