n8n-workflows/8-error-handle.json
{
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "/marking-log/errors",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1008,
        112
      ],
      "id": "d74e5717-f0e6-4638-81f0-207417160b3a",
      "name": "Webhook",
      "webhookId": "6b884999-3000-41b3-ba08-228009cd3d76"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -16,
        16
      ],
      "id": "fae124c4-2278-42be-8dfe-fa7ac5c2cea9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"reasons\": [\n        {\n            \"value\": \"doc_forbiden\",\n            \"label\": \"Chưa mở quyền nhận xét\"\n        },\n        {\n            \"value\": \"wrong_exam\",\n            \"label\": \"Nộp nhầm đề\"\n        },\n        {\n            \"value\": \"wrong_link\",\n            \"label\": \"Nộp sai link\"\n        },\n        {\n            \"value\": \"no_content\",\n            \"label\": \"Không có bài viết\"\n        },\n        {\n            \"value\": \"exam_in_onwner_trash\",\n            \"label\": \"Tệp nằm trong thùng rác của chủ sở hữu\"\n        },\n        {\n            \"value\": \"access_forbiden\",\n            \"label\": \"Chưa mở quyền nhận truy cập\"\n        },\n        {\n            \"value\": \"doc_locked\",\n            \"label\": \"Doc bị khóa\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        16
      ],
      "id": "e606c073-da41-40a9-85f4-e8ddb037d1a2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.body.fullUrl }}",
            "Type ": "Lỗi ",
            "Error ": "={{ $json.body.errorTypeLabel }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Dấu thời gian",
              "displayName": "Dấu thời gian",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Các bạn chọn lớp không đúng theo danh sách đăng ký sẽ không được chữa.\nThời gian trả bài chữa ( 7 - 9 ngày sau dl nộp)",
              "displayName": "Các bạn chọn lớp không đúng theo danh sách đăng ký sẽ không được chữa.\nThời gian trả bài chữa ( 7 - 9 ngày sau dl nộp)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Số điện thoại ",
              "displayName": "Số điện thoại ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Type ",
              "displayName": "Type ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error ",
              "displayName": "Error ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lời nhắn ",
              "displayName": "Lời nhắn ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lời nhắn\nVí dụ: Nộp muộn đã có xin phép, học lịch cọc cạch,...\nLưu ý: Tất cả những câu hỏi liên quan đến việc nộp bài, chữa bài, nội dung học,...hãy nhắn tin qua page để được trả lời",
              "displayName": "Lời nhắn\nVí dụ: Nộp muộn đã có xin phép, học lịch cọc cạch,...\nLưu ý: Tất cả những câu hỏi liên quan đến việc nộp bài, chữa bài, nội dung học,...hãy nhắn tin qua page để được trả lời",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sheet URL",
              "displayName": "Sheet URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        160
      ],
      "id": "500120c8-827b-4223-8530-3da3bb87a61e",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "lZEwATI4LCE6jNXJ",
          "name": "n8n-1-557@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ $('Webhook').item.json.body.fullUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        160
      ],
      "id": "f009db99-4140-492c-9079-5111ed288b63",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleApi": {
          "id": "M0c8RWyLvkcDkvoq",
          "name": "n8n-2-970@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dungenglishspeaking.com/webhook/send-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_error",
              "value": "false"
            },
            {
              "name": "type",
              "value": "={{ $('Webhook').item.json.body.type }}"
            },
            {
              "name": "fullUrl",
              "value": "={{ $('Webhook').item.json.body.fullUrl }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"Địa chỉ email\"] }}"
            },
            {
              "name": "fullName",
              "value": "={{ $json[\"Họ và tên\"] }}"
            },
            {
              "name": "topic",
              "value": "={{ $json[\"Chủ đề\"] }}"
            },
            {
              "name": "error_message",
              "value": "={{ $('Webhook').item.json.body.errorTypeLabel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        160
      ],
      "id": "0eb3a7db-ff35-47f7-b746-77a4db9fd320",
      "name": "send email async"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Type "
            },
            {
              "lookupColumn": "Tên",
              "lookupValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        160
      ],
      "id": "981ef9ca-c9de-4cbf-9906-e371ff4a798a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "krOtZJvb7bpYplAz",
          "name": "n8n-3-814@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d82fde77-5920-4fb4-b9aa-4e9fb1030656",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "writing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        272
      ],
      "id": "0bc91161-b4d9-4480-b851-018e1be60605",
      "name": "writing"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"nextLink\": \"{{ $json.Link }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        288
      ],
      "id": "983dcd6a-7443-4987-9fd7-ffa11df1a7b9",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        848,
        160
      ],
      "id": "ed1cd90d-7cfc-4da0-973b-806e813222a0",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        864,
        752
      ],
      "id": "3896c8d8-bc34-48e8-af65-017176261798",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Link": "={{ $json.body.fullUrl }}",
            "Trạng Thái": "Lỗi",
            "Error": "={{ $json.body.errorTypeLabel }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Chủ đề",
              "displayName": "Chủ đề",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Họ và tên",
              "displayName": "Họ và tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Số điện thoại",
              "displayName": "Số điện thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Trạng Thái",
              "displayName": "Trạng Thái",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tên",
              "displayName": "Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Địa chỉ email",
              "displayName": "Địa chỉ email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        752
      ],
      "id": "78c14933-c965-4128-9a75-1fa8e3b7cfe5",
      "name": "update writing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yB309TgEv57zLz6R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ $('Webhook').item.json.body.fullUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        752
      ],
      "id": "5d9e2c5b-a736-40d2-831e-ec653f60611a",
      "name": "get writing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yB309TgEv57zLz6R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/send-email",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "is_error",
              "value": "false"
            },
            {
              "name": "type",
              "value": "={{ $('Webhook').item.json.body.type }}"
            },
            {
              "name": "fullUrl",
              "value": "={{ $('Webhook').item.json.body.fullUrl }}"
            },
            {
              "name": "email",
              "value": "={{ $json[\"Địa chỉ email\"] }}"
            },
            {
              "name": "fullName",
              "value": "={{ $json[\"Họ và tên\"] }}"
            },
            {
              "name": "topic",
              "value": "={{ $json[\"Chủ đề\"] }}"
            },
            {
              "name": "error_message",
              "value": "={{ $('Webhook').item.json.body.errorTypeLabel }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        752
      ],
      "id": "b7333589-905b-4cde-a465-6bcf4fd2e593",
      "name": "send writing async"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU",
          "mode": "list",
          "cachedResultName": "Chấm Điểm",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "grading",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yLky_4vnRcelT49FLvXdkMPryQH_EJVRXMuP0_XNeYU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Trạng Thái"
            },
            {
              "lookupColumn": "Tên",
              "lookupValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        752
      ],
      "id": "17b58827-9ab0-400f-8043-368d8c6be963",
      "name": "get list remaining writing",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yB309TgEv57zLz6R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Later\n",
        "height": 256,
        "width": 1488,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        704
      ],
      "typeVersion": 1,
      "id": "60d9070b-50e6-49de-88a0-be33f8bbc67f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1383647999,
          "mode": "list",
          "cachedResultName": "Full",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit#gid=1383647999"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Link",
              "lookupValue": "={{ $json.body.fullUrl }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        448
      ],
      "id": "c39dde73-0a19-4d57-8dfc-2e846f733a37",
      "name": "get detail",
      "credentials": {
        "googleApi": {
          "id": "M0c8RWyLvkcDkvoq",
          "name": "n8n-2-970@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM",
          "mode": "list",
          "cachedResultName": "Check bài viết ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IzFQRVfUTX0vctuumWF16vIJver7dimlfsj9DgXYoMM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('get detail').item.json[\"Sheet URL\"] }}",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        448
      ],
      "id": "cb3e599a-0e07-4fdd-8632-86c570fe083f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleApi": {
          "id": "lZEwATI4LCE6jNXJ",
          "name": "n8n-1-557@modular-rex-435916-t9.iam.gserviceaccount.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edd2d96d-2535-4ac5-b8ea-c86f8c7d8a26",
              "name": "Type ",
              "value": "Lỗi ",
              "type": "string"
            },
            {
              "id": "0b5070ea-7d64-4b72-b9f2-e108df06fc8e",
              "name": "Error ",
              "value": "={{ $('Webhook').item.json.body.errorTypeLabel }}",
              "type": "string"
            },
            {
              "id": "f1018385-1960-49e1-b88a-a737a282b0a0",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        448
      ],
      "id": "4fdf85f2-2000-4a3e-b2c0-d11f9dbfcfda",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "send email async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send email async": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "writing": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "get detail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "update writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update writing": {
      "main": [
        [
          {
            "node": "get writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get writing": {
      "main": [
        [
          {
            "node": "send writing async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send writing async": {
      "main": [
        [
          {
            "node": "get list remaining writing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get list remaining writing": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get detail": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7f6df443063e1201816e09e7012f9b750d9d0e2a55c255ef1db35efa96f79ff"
  }
}